<nav class="container mx-auto mb-2">
    <div class="mx-4 md:mx-32 flex items-center justify-between">

        <div class="text-center flex-1">
            <p class="my-4 text-3xl font-serif font-bold"><a href="/" class="text-indigo-900">{{ app:name }}</span></a></p>
            <p class="text-sm text-gray-600 -mt-4 uppercase">{{ app:description }}</p>
        </div>

    </div>
    <div class="mx-4 md:mx-32 flex items-center">
        <ul class="text-sm text-gray-800 flex flex-wrap items-center mx-auto">
            {{ nav:menu }}
                <li class="pr-2">
                    <a href="{{ url }}" class="inline-block py-2 px-3 font-bold text-gray-700 hover:text-gray-600 no-underline uppercase {{ if is_current }}text-red-500{{ /if }}">
                        {{ title }}
                    </a>
                </li>
            {{ /nav:menu }}
        </ul>
    </div>
</nav>